section{
    margin-top:100px;
}
div{
    height:50px;
    width:200px;
    text-align:center;
    background-color: #7aa874;
    border:2px solid black;
    margin:0 auto;
}
div:nth-of-type(2n){
    background-color: #f7db6a;

}
div:nth-of-type(3n){
    background-color: #ebb02d;
}
/*transform*/
#one{
    transform:rotate(45deg);
}
#two{
    transform:scale(0.5);
    /*transforn:scaley(1.5);
    transform:scalex(0.5);
    transform:scale(0 1.5);*/
}
#three{
    transform:translate(50px,50px);
    /**transforn:translate(50px,50px);
    transform:translatex(10px);
    transform:translatey(10px);*/

}
#four{
    transform:skew(-30deg);
}
